.App {
  text-align: center;
}

.row {
  font-size: 0px;
  min-width: 308px;
}

.column {
  display: inline-block;
  border: 1px solid black;
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
}

.winner {
  color: green;
}

.draw {
  color: blue;
}

.selectedButton {
  background-color: #4caf50;
  color: white;
}
