.App {
  text-align: center;
}

.row {
  font-size: 0px;
  min-width: 308px;
}

.column {
  display: inline-block;
  border: 1px solid black;
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  vertical-align: middle;
}

.winner {
  color: green;
}

.draw {
  color: blue;
}

.status {
  color: goldenrod;
}

.selectedButton {
  background-color: #4caf50;
  color: white;
}

#players {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.player-name {
  display: inline-block;
  width: 10rem;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}
